.parent {
  display: grid;
  height: 90vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  padding: 2rem;
  grid-column: 1 / 4;
  border: 1px solid black;
}

.left-side {
  grid-column: 1 / 2;
  border: 1px solid black;
  padding: 20px;
}

main {
  grid-column: 2 / 3;
  border: 1px solid black;
  padding: 20px;
}

.right-side {
  grid-column: 3 / 4;
  border: 1px solid black;
  padding: 20px;
}

footer {
  grid-column: 1 / 4;
  border: 1px solid black;
  padding: 20px;
}
